<h1>{{ isEdit ? "Editar" : isViewMode ? "Visualizar" : "Novo" }} Matricula</h1>
<hr />
<div class="well">
  <form #formMatricula="ngForm">
    <div class="form-group">
      <label for="nome">Aluno:</label>
      <ng-select
        name="aluno"
        [items]="alunos"
        bindLabel="nome"
        required
        [(ngModel)]="matricula.aluno"
        placeholder="Selecionar um aluno"
        #aluno="ngModel"
      >
      </ng-select>
      <div
        class="alert alert-danger"
        *ngIf="aluno.errors && (aluno.dirty || aluno.touched)"
      >
        <div [hidden]="!aluno.errors['required']">Selecione um aluno.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="nome">Curso:</label>
      <ng-select
        name="curso"
        [items]="cursos"
        bindLabel="nome"
        required
        [(ngModel)]="matricula.curso"
        placeholder="Selecionar um curso"
        #curso="ngModel"
      >
      </ng-select>
      <div
        class="alert alert-danger"
        *ngIf="curso.errors && (curso.dirty || curso.touched)"
      >
        <div [hidden]="!curso.errors['required']">Selecione um curso.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="nome">Nota:</label>
      <input
        type="number"
        class="form-control"
        id="nome"
        name="nota"
        required
        placeholder="Digite a nota do aluno..."
        [disabled]="isViewMode"
        [(ngModel)]="matricula.nota"
        #nota="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="nota.errors && (nota.dirty || nota.touched)"
      >
        <div [hidden]="!nota.errors['required']">Digite a nota do aluno.</div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="nome">Data Matricula:</label>
      <input
        type="text"
        class="form-control"
        id="dataMatricula"
        name="dataMatricula"
        mask="d0/M0/0000"
        [dropSpecialCharacters]="false"
        required
        placeholder="Digite a data da matricula no formato dd/MM/yyyy..."
        [(ngModel)]="matricula.dataMatricula"
        [disabled]="isViewMode"
        autocomplete="off"
        minlength="10"
        #dataMatricula="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          dataMatricula.errors && (dataMatricula.dirty || dataMatricula.touched)
        "
      >
        <div [hidden]="!dataMatricula.errors['required']">
          Digite a data da matricula.
        </div>
        <div [hidden]="!dataMatricula.errors['minlength']">
          A data precisa ter no mínimo 10 caracteres.
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="row gx-2 gy-2">
        <div class="col-auto">
          <button
            *ngIf="!isViewMode"
            type="button"
            class="btn btn-primary"
            (click)="handleClik()"
            [disabled]="!formMatricula.form.valid"
          >
            <i class="fa fa-save" aria-hidden="true"></i>
            {{ isEdit ? "Atualizar" : "Salvar" }}
          </button>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/matriculas']" class="btn btn-secondary">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
